.UserOutput {
    width: 80%;
    /* padding: 16px; */
    margin: 16px;
    background-color: lightgray;
    border: 2px solid darkgray;
    text-align: center;
}

.header {    
    color: blue;
    font-size: larger;
    font-weight: bolder;
}

.normalP {
    color: black;
}